<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
<connectionStrings><add name="ENTPROG_000011530941_EFDBCodeFirstEntities" connectionString="metadata=res://*/CodeFirstEFDataModel.csdl|res://*/CodeFirstEFDataModel.ssdl|res://*/CodeFirstEFDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=csb-entpro.wongph.com;initial catalog=ENTPROG_000011530941_EFDBCodeFirst;persist security info=True;user id=11530941;password=vE2uG3fS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>